@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

body {
background-image: url("../images/library3.jpg");
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
font-family: 'Special Elite', cursive;
}


.book-card {
  margin: 20px;
  width: 350px !important;
  background-color: #FFF7D4;
}

.submit {
  background-color: #339999;
  border: none;
}


.book-card__body {
  display: flex;
}

.book-info {
  margin-left: 10px;
}

.book-info__title {
  height: 175px;
}

.info-button img {
  height: 30px;
}

.bookshelf {
background-color: #FFF7D4;
padding: 10px;
margin: 10px;
border-radius: 10px;
text-align: center;
}

.new-book {
  position: absolute;
  width: 400px;
  height: 100px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
  background: #FFF7D4;
  border-radius: 10px; 
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.search-again {
  background-color: #FFF7D4;
  margin: 10px auto 30px auto;
  padding: 10px;
  width: 400px;
  border-radius: 10px;
  left: 50%;
  text-align: center;
  display: flex;
  flex-direction:column;
}

.search-results {
  display: flex;
}

.search-input {
  display: flex;
}

.biblio-nav, .biblio-nav a {
  background-color: #FFF7D4 !important;
  color: #324548 !important;
}

.navbar-brand {
  margin: 0 30px;
  font-size: 2rem;
}

.biblio-nav_links {
  margin-right: 20px 
}

.nav-margin {
  margin-bottom: 110px !important;
}

.loan-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.requests-container {
  width: 50vw;
  /* display: flex;
  height: 100vh;
  flex-wrap: wrap; */
  /* justify-content: center;
  align-content: center;
  align-items: center; */
}


.loan-card, .loan-card__body {
  width: 245px !important;
  height: 300px;
  margin: 10px 0;
  background-color: #FFF7D4;
}

main {
  display: flex;
  justify-content: center;
}

.home-container {
  display: flex;
  width: 95vw;
  margin: 0 !important;
  padding: 0 !important;
}

.loan-list__title {
  width: 245px;
  background-color: #FFF7D4;
  text-align: center;
  border-radius: 4px;
  margin: 5px 0;
}


.loan-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}